<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin/master_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <div class="col-md-12 widget-holder">
        <div class="widget-bg">
            <div class="widget-heading clearfix">
                <h5>List Teams</h5>
            </div>
            <!-- /.widget-heading -->
            <div class="widget-body clearfix">
                <table class="table table-editable">
                    <thead>
                    <tr>
                        <th data-identifier="">ID</th>
                        <th data-editable="">Team Name</th>
                        <th data-editable="">Status</th>
                        <th class="tabledit-toolbar-column">Action</th></tr>
                    </thead>
                    <tbody th:each="team:${teams}">
                    <tr th:id="${team.id}" id="1">
                        <td><span class="tabledit-span tabledit-identifier" th:text="${team.id}">1</span><input class="tabledit-input tabledit-identifier" type="hidden" name="ID" value="1" disabled=""></td>
                        <td class="tabledit-view-mode"><span class="tabledit-span" th:text="${team.name}">Bob Williams</span><input class="tabledit-input form-control input-sm" type="text" name="Name" value="Bob Williams" style="display: none;" disabled=""></td>
                        <td class="tabledit-view-mode">
                            <span class="badge badge-success py-1 px-2" th:if="${team.status} == true">Active</span>
                            <span class="badge badge-danger py-1 px-2" th:if="${team.status} == false">Inactive</span>
                        </td>
                        <td style="white-space: nowrap; width: 1%;"><div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                            <div class="btn-group btn-group-sm" style="float: none;">
                                <a th:href="@{/admin/editTeam(teamId=${team.id})}"><button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;"><span class="glyphicon glyphicon-pencil"></span></button></a>
                                <button type="button" class="tabledit-delete-button btn btn-sm btn-default" style="float: none;"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                        </div></td></tr>
                    </tbody>
                </table>
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>
</div>
</body>
</html>