<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin/master_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content" class="container-fluid">
    <div class="col-md-12 widget-holder">
        <div class="widget-bg">
            <div class="widget-heading clearfix">
                <h5>List Categories</h5>
            </div>
            <!-- /.widget-heading -->
            <div class="widget-body clearfix">
                <table class="table table-editable">
                    <thead>
                    <tr>
                        <th data-identifier="">Order ID</th>
                        <th data-editable="">Shipping Name</th>
                        <th data-editable="">Shipping Address</th>
                        <th data-editable="">Shipping Phone</th>
                        <th data-editable="">Total Price</th>
                        <th data-editable="">Status</th>
                        <th class="tabledit-toolbar-column">Action</th></tr>
                    </thead>
                    <tbody th:each="order:${orders}">
                    <tr class="order" th:id="${order.id}" id="1">
                        <td><span class="tabledit-span tabledit-identifier" th:text="${order.id}">1</span><input class="tabledit-input tabledit-identifier" type="hidden" name="ID" value="1" disabled=""></td>
                        <td class="tabledit-view-mode"><span class="tabledit-span" th:text="${order.shippingName}">Bob Williams</span><input class="tabledit-input form-control input-sm" type="text" name="Name" value="Bob Williams" style="display: none;" disabled=""></td>
                        <td class="tabledit-view-mode"><span class="tabledit-span" th:text="${order.shippingAddress}">$23,566</span><input class="tabledit-input form-control input-sm" type="text" name="Salary" value="$23,566" style="display: none;" disabled=""></td>
                        <td class="tabledit-view-mode"><span class="tabledit-span" th:text="${order.shippingPhone}">$23,566</span><input class="tabledit-input form-control input-sm" type="text" name="Salary" value="$23,566" style="display: none;" disabled=""></td>
                        <td class="tabledit-view-mode"><span class="tabledit-span" th:text="${order.totalPrice}">$23,566</span><input class="tabledit-input form-control input-sm" type="text" name="Salary" value="$23,566" style="display: none;" disabled=""></td>
                        <td th:class="'tabledit-view-mode ' + 'status'+${order.id}">
                            <span class="badge badge-success py-1 px-2" th:if="${order.status} == true">Done</span>
                            <span class="badge badge-warning py-1 px-2" th:if="${order.status} == false">Pending</span>
                        </td>
                        <td style="white-space: nowrap; width: 1%;"><div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                            <div class="btn-group btn-group-sm" style="float: none;">
                                <button th:if="${order.status} == false" type="button" th:class="'tabledit-delete-button btn-confirm btn btn-sm btn-default ' + 'confirm-item-'+${order.id}" style="float: none;"><i class="material-icons">done</i></span></button>
                                <a th:href="@{/admin/orderDetail(orderId=${order.id})}"><button type="button" class="tabledit-edit-button btn btn-sm btn-default" style="float: none;"><i class="material-icons">visibility</i></button></a>
                                <a th:if="${order.status} == false" th:href="@{/admin/editOrder(orderId=${order.id})}"><button type="button" th:class="'tabledit-edit-button btn-edit btn btn-sm btn-default ' + 'edit-item-'+${order.id}" style="float: none;"><i class="material-icons">create</i></button></a>
                                <button type="button" class="tabledit-delete-button btn-delete btn btn-sm btn-default" style="float: none;"><i class="material-icons">delete</i></span></button>
                            </div>
                        </div></td></tr>
                    </tbody>
                </table>
            </div>
            <!-- /.widget-body -->
        </div>
        <!-- /.widget-bg -->
    </div>
</div>
</body>
</html>