<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/master_layout}">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/noui/nouislider.min.css}">
</head>
<body>
<div layout:fragment="content">
    <!-- Content page -->
    <section class="bgwhite p-t-55 p-b-65">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                    <div class="leftbar p-r-20 p-r-0-sm">
                        <!--  -->
                        <h4 class="m-text14 p-b-7">
                            Categories
                        </h4>

                        <ul class="p-b-54">
                            <li class="p-t-4">
                                <a th:href="@{/products/all}" class="s-text13 active1">
                                    All
                                </a>
                            </li>

                            <li th:each="category:${categories}" class="p-t-4">
                                <a th:href="@{/products/category(categoryId=${category.id})}" th:text="${category.name}" class="s-text13">
                                    Long sleeves
                                </a>
                            </li>
                        </ul>

                        <!--  -->
                        <h4 class="m-text14 p-b-32">
                            Filters
                        </h4>

                        <div class="filter-price p-t-22 p-b-50 bo3">
                            <div class="m-text15 p-b-17">
                                Price
                            </div>

                            <div class="wra-filter-bar">
                                <div id="filter-bar"></div>
                            </div>

                            <div class="flex-sb-m flex-w p-t-16">
                                <div class="w-size11">
                                    <!-- Button -->
                                    <button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4">
                                        Filter
                                    </button>
                                </div>

                                <div class="s-text3 p-t-10 p-b-10">
                                    Range: $<span id="value-lower">610</span> - $<span id="value-upper">980</span>
                                </div>
                            </div>
                        </div>

                        <div class="search-product pos-relative bo4 of-hidden">
                            <input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product"
                                   placeholder="Search Products...">

                            <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                                <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                    <!--  -->
                    <div class="flex-sb-m flex-w p-b-35">
                        <div class="flex-w">
                            <div class="rs2-select2 bo4 of-hidden m-t-5 m-b-5 m-r-10">
                                <select class="selection-2" name="sorting">
                                    <option>Default Sorting</option>
                                    <option>Popularity</option>
                                    <option>Price: low to high</option>
                                    <option>Price: high to low</option>
                                </select>
                            </div>

                            <div class="rs2-select2 bo4 of-hidden m-t-5 m-b-5 m-r-10">
                                <select class="selection-2" name="sorting">
                                    <option>Price</option>
                                    <option>$0.00 - $50.00</option>
                                    <option>$50.00 - $100.00</option>
                                    <option>$100.00 - $150.00</option>
                                    <option>$150.00 - $200.00</option>
                                    <option>$200.00+</option>

                                </select>
                            </div>
                        </div>

                        <span class="s-text8 p-t-5 p-b-5"
                              th:text="'Showing 1-' + ' results'">
						</span>
                    </div>

                    <!-- Product -->
                    <div class="row">

                        <div th:each="product : ${allProducts}" class="col-sm-12 col-md-6 col-lg-4">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                    <img th:src="@{${product.url}}" alt="IMG-PRODUCT">

                                    <div class="block2-overlay trans-0-4">
                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                            <!-- Button -->
                                            <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                Add to Cart
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="block2-txt p-t-20">
                                    <a th:href="@{/products/detail(productId=${product.id})}" class="block2-name dis-block s-text3 p-b-5"
                                       th:text="${product.name}">
                                        Herschel supply co 25l
                                    </a>

                                    <span class="block2-price m-text6 p-r-5" th:text="'Price: ' + '$' + ${product.price}">
										        $75.00
                                    </span>
                                </div>
                            </div>
                        </div>


                        <!-- Pagination -->
<!--                        <div class="pagination flex-m flex-w p-t-26">-->
<!--                            <a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>-->
<!--                            <a href="#" class="item-pagination flex-c-m trans-0-4">2</a>-->
<!--                        </div>-->
                    </div>
                    <div class="pagination flex-m flex-w p-t-26">
                            <span th:if="${allProducts.hasPrevious()}">
                                <a class="item-pagination flex-c-m trans-0-4" th:href="@{/products/all(page=${allProducts.number-1})}">
                                    <
                                </a>
                            </span>
                        <th:block th:each="i: ${#numbers.sequence(0, allProducts.totalPages - 1)}">
                                <span  th:if="${allProducts.number == i}" >
                                    <a class="item-pagination flex-c-m trans-0-4 active-pagination" th:href="@{/products/all(page=${i})}">[[${i}+1]]</a>
                                </span>
                            <span th:unless="${allProducts.number == i}">
                                    <a class="item-pagination flex-c-m trans-0-4" th:href="@{/products/all(page=${i})}">[[${i}+1]]</a>
                                </span>
                        </th:block>
                        <span th:if="${allProducts.hasNext()}">
                                <a class="item-pagination flex-c-m trans-0-4" th:href="@{/products/all(page=${allProducts.number+1})}">
                                    >
                                </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" th:src="@{/css/vendor/daterangepicker/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/css/vendor/daterangepicker/daterangepicker.js}"></script>
<script type="text/javascript">
    $('.block2-btn-addcart').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to cart !", "success");
        });
    });

    $('.block2-btn-addwishlist').each(function () {
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function () {
            swal(nameProduct, "is added to wishlist !", "success");
        });
    });
</script>

<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/css/vendor/noui/nouislider.min.js}"></script>
<script type="text/javascript">
    /*[ No ui ]
    ===========================================================*/
    var filterBar = document.getElementById('filter-bar');

    noUiSlider.create(filterBar, {
        start: [50, 200],
        connect: true,
        range: {
            'min': 50,
            'max': 200
        }
    });

    var skipValues = [
        document.getElementById('value-lower'),
        document.getElementById('value-upper')
    ];

    filterBar.noUiSlider.on('update', function (values, handle) {
        skipValues[handle].innerHTML = Math.round(values[handle]);
    });
</script>
</body>
</html>