<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Oscar - Admin Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet">
</head>
<body style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f8f8f8; margin: 0;">

<table border="0" cellpadding="0" cellspacing="0"
       style="width: 100%; background-color: #f4f8fb; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 15px;"
       bgcolor="#f8f8f8">

    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="width:600; background-color: #ffffff; color: #514d6a; padding: 40px; margin-top: 40px; line-height: 28px;"
                   bgcolor="#ffffff">
                <tr>
                    <td style="text-align: center; vertical-align: top;">
                        <img src="https://res.cloudinary.com/dntkw29ra/image/upload/v1573280684/logo-email.png" alt="Oscar Admin Template"
                             style="border:none; display:inline-block;" height="45" width="117">
                    </td>
                </tr>

                <tr>
                    <td style="text-align: center; padding-top: 60px; font-weight: 300; line-height: 48px; font-size: 42px; font-family: 'Open Sans',Helvetica,Arial,sans-serif; color: #111; letter-spacing: -1px;">
                        Thanks for the purchase
                    </td>
                </tr>

                <tr>
                    <td style="text-align: center; padding-top: 20px; font-weight: 300; line-height: 36px; font-size: 24px; font-family: 'Open Sans',Helvetica,Arial,sans-serif; color: #999; letter-spacing: -1px;">
                        Your order has been placed successfully. Your order will be shipped in 2-3 days.
                    </td>
                </tr>

                <tr>
                    <td style="text-align: center; padding-top: 20px; vertical-align: top;">
                        <img src="https://res.cloudinary.com/dntkw29ra/image/upload/v1573280684/icon-receipt.png" alt="" style="border:none; display:inline-block;"
                             height="128" width="128">
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                   style="border:none; width:600; margin-top: 20px; margin-bottom: 40px; text-align: center; color: #85868a;">
                <tr>
                    <td style="padding-top: 20px;">
                        Copyright &copy; 2017 Oscar. All Rights Reserved. We appreciate you!
                    </td>
                </tr>

                <tr>
                    <td style="padding-top: 10px; font-weight: 800; font-size: 12px; text-transform: uppercase; font-family: 'Open Sans',Helvetica,Arial,sans-serif;">
                        <a href="javascript: void(0);" target="_blank" style="color: #222; text-decoration: none;">Help
                            Center</a> <span
                            style="color: #222; font-size: 24px; margin-left: 20px; margin-right: 20px;">&#8901;</span>
                        <a href="javascript: void(0);" target="_blank" style="color: #222; text-decoration: none;">1(800)234-56-78</a>
                        <span style="color: #222; font-size: 24px; margin-left: 20px; margin-right: 20px;">&#8901;</span>
                        <a href="javascript: void(0);" target="_blank" style="color: #222; text-decoration: none;">Unsubscribe</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>